<section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-3 justify-content-center">
                <div class="col mb-5" *ngFor="let repo of allDetails,let i=index ">
                    <div class="card h-100">
                        
                        <!-- Repository Details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Repository name -->
                                <h5 class="fw-bolder"><span class=" text-secondary">Repository name:</span> {{repo.full_name}}</h5>
                                <!-- repository Description-->
                                <p *ngIf="(!!repo.description)"><span class="text-secondary"> Description:</span> {{repo.description}}</p>
                                <!-- repository topics -->
                                <p *ngIf="(repo.topics.length)>0"> <span class="text-secondary">Topics:</span> {{repo.topics}}</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

